

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .logo-nav{
    width:40%;
    color: white;
    margin-top: 1rem;
  }

div#login{
  background-color: #c2185b;
  height: 500px;
  width: 100%;
  position: relative;
}

div.login{
  background-color:rgba(255, 254, 255, 0.4);
  width: 30%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 60%;
  border-radius: .5rem;
}

div.login h1{
  font-weight: bolder;
  text-align: center;
}

div.login img{
  width: 20%;
  margin-left: 39%;
}

div.login div{
  margin-left: 4rem;
}

input.login-inp{
  width: 70% !important;
  text-align: center;
  border-radius: .5rem !important ;
  border: 1px solid black !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


div.info-home{
  width: 100%;
  height: 500px;
}

img.sheep{
  width: 30%;position: absolute;
  top: 5%;
  left: 10%;
}

.login-text{
  text-align: center;
}

@media (max-width: 700px) {
header, footer, div.info-home,
div.login>h4{
  display: none;
}

div#login {
    background-color: #c2185b;
    height: 100vh;
    width: 100%;
    position: none;
    display: block;

}
div.login {
    background-color: rgba(255, 254, 255, 0.4);
    width: 90%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    border-radius: .5rem;
    padding-top: 50%;
}
img.sheep {
    width: 40%;
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: 50;
}
